<%= form_with(model: tet, local: true) do |form| %>
  <% if tet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tet.errors.count, "error") %> prohibited this tet from being saved:</h2>

      <ul>
      <% tet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :tet_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
